[Desktop Entry]
Type=Application
Exec=/home/$USER/file-organizer/dist/File_Organizer
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=File Organizer
Name=File Organizer
Comment[en_US]=
Comment=
